div#main section#components {
    clear: both;
    margin: 0 auto;
    width: 1000px;
    border-bottom: 1px solid #acacac;
}

div#main section#components div.component {
    width: 304px;
    float: left;
    height: 250px;
    border: 1pt solid #c3c3c3;
    border-radius: 5pt; 
    box-shadow: 0pt 2pt 4pt 0pt #dcdcdc;
    margin: 10pt;
    overflow: hidden;
}

div#main section#components div.component section {
    position: relative;
    top: 180px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10pt;
    color: #fff;
}
div#main section#components div.component section h2 {
    font-size: 0.8em;
}
div#main section#components div.component section p {
    font-size: 0.7em;
}
