.icons {
    font-family: 'Glyphicons Halflings';
}
/** {
    box-sizing: border-box;
}*/
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0pt;
    margin: 0pt;
    font-weight: normal;
    font-family: Verdana,Arial,sans-serif;
} 

body {
    background: #fff url('/images/background-test.gif');
    color: #000;
}

div#main {
    
    box-shadow: 0pt 0pt 10pt #0f0f0f;
    background: #fff;
}

@media all and (min-width: 769px) {
    div#main {
        margin: 0pt auto;
        width: 1009px;
    }
}

div#content {
    min-height: 300pt;
    clear: both;
}

header {
    padding: 0;
    margin: 0;
    /*background-image: -moz-linear-gradient(top, #666a6d, #2b2b2b);*/
    background-image: -moz-linear-gradient(top, #161a1d, #2b2b2b);
    background-image: -ms-linear-gradient(top, #161a1d, #2b2b2b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#161a1d), to(#2b2b2b));
    background-image: -webkit-linear-gradient(top, #161a1d, #2b2b2b);
    background-image: -o-linear-gradient(top, #161a1d, #2b2b2b);
    background-image: linear-gradient(top, #161a1d, #2b2b2b);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#161a1d', endColorstr='#2b2b2b');
}

@media all and (max-width: 768px) {
    body{
      -webkit-text-size-adjust: none;
    }
    header {
        padding: 10pt;
    }
    header h1 {
        margin: 0pt auto;
    }
    header form {
        display: none;
    }

    div.social {
        display: none;
    }
}
@media all and (min-width: 769px) {
    header {
        height: 60pt;
    }
    header h1 {
        float: left;
        margin: 10pt 30pt;
    }
    div.social {
        float: right;
    }
}


header h1 {
    width: 228px;
    
    height: 0pt;
    padding-top: 40pt;
    background-size: 229px 43px;
    overflow: hidden;
    background-image: url('/images/white-on-black-logo.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

footer {
    clear: both;
    height: 20pt;
    color: #fff;
    padding: 10pt;
    /*background-image: -moz-linear-gradient(top, #666a6d, #2b2b2b);*/
    background-image: -moz-linear-gradient(top, #2b2b2b, #161a1d);
    background-image: -ms-linear-gradient(top, #2b2b2b, #161a1d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2b2b2b), to(#161a1d));
    background-image: -webkit-linear-gradient(top, #2b2b2b, #161a1d);
    background-image: -o-linear-gradient(top, #2b2b2b, #161a1d);
    background-image: linear-gradient(top, #2b2b2b, #161a1d);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2b2b2b', endColorstr='#161a1d');
}

footer p {
    font-size: 0.75em;
}

.company {
    font-family: 'alexisregular';
    font-size: 100%;
    font-size: 2.0em;
}

a {
    color: #5b5b5b;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

select:focus, input:focus {
    outline: none;
}